# Editors, Caches, that kind of thing
.rake_test_cache
.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

.batcave

# Bundler & co.
Gemfile.lock
Berksfile.lock
bin/*
.bundle/*

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret
.chef/checksums/
.chef/syntax_check_cache/


###
# Ignore cookbooks. This is a workspace only
###
/cookbooks
